:root{
    background-color: rgb(211, 211, 211);
}
.body{
background-color: rgb(255, 255, 255);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons{
height: 200px;
width: 200px;
margin: 2%;
border: none;
border-radius: 2%;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
