:root{
    background-color: rgb(255, 255, 255);
}
.body{
background-color: rgb(255, 255, 255);
}

.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.guess{
    width: 500px;
    height: 500px;
}